<div class="w-full h-screen bg-black flex">
    <div class="w-2/4 flex justify-center items-center">
        <div class="w-full max-w-[100%] max-h-[380px] h-[50%] flex justify-center">
            <img src="../../../assets/logo.png" alt="" class="max-w-[310px] max-h-[310px] object-cover">
        </div>
    </div>
    <div class="w-2/4 min-w-[45vw] p-9 items-stretch flex">
        <div class="max-w-[760px] min-w-[437px] p-7 flex flex-col items-center justify-center">
            <form
                class="w-full h-[50%] flex flex-col gap-6 items-center justify-center rounded-2xl">
                <h2 class="text-white text-5xl font-extrabold mb-3">Iniciar Sesion</h2>

                <input type="email" placeholder="correo@ejemplo.com" required 
                    class="w-[60%] bg-transparent text-white placeholder-white py-2 border-b-2 border-gray-300 focus:placeholder-opacity-0 focus:border-white focus:outline-none transition-all ease-in-out duration-300">

                <input type="password" placeholder="********" required
                    class="w-[60%] bg-transparent text-white placeholder-white py-2 border-b-2 border-gray-300 focus:placeholder-opacity-0 focus:border-white focus:outline-none transition-all ease-in-out duration-300">
            
                <button type="submit" class="bg-white font-bold border-1 border-white rounded-[6px] py-2 w-[50%] cursor-pointer mt-4">INICIAR SESION</button>
                <div class="w-[50%] text-center cursor-pointer">
                    <a routerLink="/" class="text-white p-x4">Volver</a>
                </div>
                </form>
        </div>

    </div>
</div>