<div class="w-full h-[100dvh] bg-black flex">
    <div class="w-2/4 flex justify-center items-center">
        <div class="w-full max-w-[100%] max-h-[380px] h-[50%] flex justify-center">
            <img src="../../../assets/logo.png" alt="" class="max-w-[310px] max-h-[310px] object-cover">
        </div>
    </div>
    <div class="w-2/4 min-w-[45vw] p-9 items-stretch flex">
        <div class="max-w-[760px] min-w-[437px] p-7 flex flex-col">
            <div class="max-w-[600px] my-12 wrap-break-word leading-[84px] text-[64px] font-extrabold text-white">
                <!--para aclarar se usa el wrap break word para que no se rompa el diseño de la frase-->
                <h1 class="wrap-break-word min-w-0">Lo que esta pasando en la cocina ahora</h1>
            </div>
            <div class="mb-8 leading-[36px] wrap-break-word font-extrabold text-[36px] text-white">
                <p class="wrap-break-word">Únete Hoy</p>
            </div>
            <div class="flex flex-col mt-5 gap-6">
                <div class="w-[50%] flex bg-white rounded-3xl py-1 text-center cursor-pointer">
                    <a routerLink="/register" class="w-[100%] p-3">Registrarse</a>
                </div>
                <div class="w-[50%] flex bg-white rounded-3xl py-1 text-center cursor-pointer">
                    <a routerLink="/login" class="w-[100%] py-3">Iniciar Sesion</a>
                </div>
            </div>
        </div>
    </div>
</div>